{% load static %}
  <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link " href="{% url 'listview' %}">
          <i class="bi bi-grid"></i>
          <span>Books</span>
        </a>
      </li><!-- End Dashboard Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-menu-button-wide"></i><span>User Pages</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li></li>
            <a href="/user/dash">
              <i class="bi bi-circle"></i><span>Dashboard</span>
            </a>
          </li>
          <li>
            <a href="{% url 'userproducts' %}">
              <i class="bi bi-circle"></i><span>Products</span>
            </a>
          </li>
          <li>
            <a href="{% url 'userorders' user.customer.id %}">
              <i class="bi bi-circle"></i><span>Order Details</span>
            </a>
          </li>
          <li>
            <a href="{% url 'userdetails' %}">
              <i class="bi bi-circle"></i><span>User Details</span>
            </a>
          </li>
        </ul>
      </li><!-- End Components Nav -->

      <li class="nav-heading">Pages</li>

      <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'userdetails' %}">
          <i class="bi bi-person"></i>
          <span>Profile</span>
        </a>
      </li><!-- End Profile Page Nav -->


      <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'register' %}">
          <i class="bi bi-card-list"></i>
          <span>Register</span>
        </a>
      </li><!-- End Register Page Nav -->


      <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'logout' %}">
          <i class="bi bi-person"></i>
          <span>Logout</span>
        </a>
      </li><!-- End Blank Page Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'cart_sum' %}">
          <i class="bi bi-cart-fill me-1"></i>CART
          <span class="badge bg-dark text-white ms-1 rounded-pill" id="cart_qty">{{ cart|length }}</span>
        </a>
      </li>


    </ul>

  </aside><!-- End Sidebar-->