{% extends 'base.html' %}

{% block title %}View prescriptions{% endblock %}
{% block content %}

<div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-md-12">
        <div class="card mt-5">
          <div class="card-header bg-danger text-white">
            <h2 class="text-center ">prescription List</h2>
          </div>
          <div class="card-body border border-danger">
            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Doctor</th>
                        <th>patient</th>
                        <th>date_created</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for prescription in prescriptions %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ prescription.doctor }}</td>
                        <td>{{ prescription.patient }}</td>
                        <td>{{ prescription.date_created }}</td>
                        <td>
                            <a href="{% url 'view_prescription' prescription.id %}" class="btn btn-primary">View</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
</div>  

{% endblock %}