{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-12">
          <div class="card mt-5">
            <div class="card-header bg-danger text-white">
              <h2 class="text-center ">View Appointment</h2>
            </div>
            <div class="card-body border border-danger">
              <ul class="list-group text-justify">

                <li class="list-group-item">patient: {{ appointment.patient.user.username }}</li>
                <li class="list-group-item">Doctor : {{ appointment.doctor.user.username }}</li>
                <li class="list-group-item">Department : {{ appointment.department.name }}</li>
                <li class="list-group-item">date : {{ appointment.date }}</li>
                <li class="list-group-item">start_time : {{ appointment.start_time }}</li>
                <li class="list-group-item">end_time : {{ appointment.end_time }}</li>
                <li class="list-group-item">Description : {{ appointment.description }}</li>
                <li class="list-group-item">Symptoms : {{ appointment.symptoms }}</li>

  
              </ul>

            </div>
          </div>
        </div>
      </div>
  </div>  
  
  
{% endblock %}