{% extends 'base.html' %}
{% load static %}

{% block content %}

<form action="" method="POST">
  {% csrf_token %}


  {{ form.as_p }}

  <input type="submit" value="save" class="btn btn-primary">



</form>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Index</th>
      <th scope="col">Author Name</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    {% for author in authors %}
        <tr>
            <th scope="row">{{forloop.counter}}</th>
            <td>{{ author.name }}</td>
            <td>
            <a href="{% url 'updateAuthor' author.id %}" class="btn btn-outline-success">Update</a>
            <a href="{% url 'deleteAuthorView' author.id %}" class="btn btn-outline-danger">Delete</a></td>
        </tr>

    {% endfor %}

  </tbody> 
</table>



{% endblock %}
