{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-12">
          <div class="card mt-5">
            <div class="card-header bg-danger text-white">
              <h2 class="text-center ">View Schedule</h2>
            </div>
            <div class="card-body border border-danger">
              {% if schedule %}
              <ul class="list-group text-justify">
  
                <li class="list-group-item">Doctor: {{ schedule.doctor }}</li>
                <li class="list-group-item">Date: {{ schedule.date }}</li>
                <li class="list-group-item">Start Time: {{ schedule.start_time }}</li>
                <li class="list-group-item">End Time: {{ schedule.end_time }}</li>
                <li class="list-group-item">Department: {{ schedule.department }}</li>

  
              </ul>
              <br>
              <a href="{% url 'edit_schedule' schedule.id %}" class="btn btn-primary">Edit</a>
              {% else %}
              <p>No schedule found.</p>
              <li class="nav-item"><a class="nav-link" href="{% url 'add_schedule' %}">Add Schedule</a></li>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
  </div>  
  
  
{% endblock %}