{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h2>Register</h2>
                </div>
                <div class="card-body">
                    <form method="POST" novalidate>
                        {% csrf_token %}
                        {{ form.non_field_errors }}

                        <div class="form-group">
                            <label for="id_username">Username:</label>
                            <input type="text" name="username" maxlength="150" autocapitalize="none" autocomplete="username" autofocus="" required="" class="form-control" id="id_username">
                            {{ form.username.errors }}
                        </div>
                        <div class="form-group">
                            <label for="id_first_name">First Name:</label>
                            <input type="text" name="first_name" required="" class="form-control" id="id_first_name">
                            {{ form.first_name.errors }}
                        </div>
                        <div class="form-group">
                            <label for="id_last_name">Last Name:</label>
                            <input type="text" name="last_name" required="" class="form-control" id="id_last_name">
                            {{ form.last_name.errors }}
                        </div>
                        <div class="form-group">
                            <label for="id_email">Email:</label>
                            <input type="email" name="email" required="" class="form-control" id="id_email">
                            {{ form.email.errors }}
                        </div>
                        <div class="form-group">
                            <label for="id_password1">Password:</label>
                            <input type="password" name="password1" required="" class="form-control" id="id_password1">
                            {{ form.password1.errors }}
                        </div>
                        <div class="form-group">
                            <label for="id_password2">Confirm Password:</label>
                            <input type="password" name="password2" required="" class="form-control" id="id_password2">
                            {{ form.password2.errors }}
                        </div>
                        <button type="submit" class="btn btn-primary">Register</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}